
@model IEnumerable<SignInModel>
@{
	ViewData["Title"] = "Users Details";

}
<h3>@ViewData["Title"]</h3>
<hr />
<form>
	<table class="table table-responsive table-hover">
		<thead>
			<tr class="table-active">
				<th>Id</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Selected Course</th>
				<th>Grade</th>
				<th>Apply at</th>
			</tr>
		</thead>

		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach(var user in Model)
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.Email</td>
						<td>@user.FirstName</td>
						<td>@user.LastName</td>
						<td>@user.SelectedCourse</td>
						<td>@user.Grade</td>
						<td>@user.ApplyAt</td>
					</tr>
				}
			}else
			{
				<tr>
					<td colspan="6">
						<div>
							No users available at this moment!
						</div>
					</td>
				</tr>

			}
		</tbody>

	</table>
</form>
